:root {
  --background: #FFF3E6;
  --foreground: #525C39;
  --accent1-color: #F1D5BD;
  --accent2-color: #EAA037;
  --accent3-color: #000000;

  --heading-font: "Sancreek";
  --paragraph-font: "Epilogue", sans-serif;
}


/* Reset and base */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--paragraph-font);
  margin: 0;
  padding: 0;
  font-size: 1.3vw;
}


/* Typography*/
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}



/* Main container*/
#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.header {
  grid-column: 1/13;
}
.hamburger {
  display: none; 
}

/* Left navigation bar */
#left-nav {
  padding: 3%;
  grid-column: 1/3;
}
.logo {
  justify-self: center;
  padding: 2%;
}

.left-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.left-nav li {
  padding: 3%;
}

.left-nav ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  color: var(--foreground);
}

.left-nav ul li a:hover {
  color: var(--accent2-color);
}


/* Main content area */
.main-content {
  grid-column: 3/7;
  margin-top: 8%;
}

.hero {
 width: fit-content;
 border-radius: 10px;
}

/* Header section for search and login */
.header {
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;  
  padding: 1%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Search bar and login button */
.search-bar {
  flex: 1;
  margin-right: 20px;
  padding: 1%;
  border: none;
  border-radius: 5px;
}


.login-button {
  background-color: var(--foreground);
  color: var(--background);
  border: none;
  margin-right: 2%;
  padding: .5% 1%;
  cursor: pointer;
  border-radius: 5px;
}


.login-button:hover {
  background-color: var(--accent2-color);
}


/* Right description section */
#right-description {
  display: flex;
  flex-direction: column;
  background-color: var(--accent1-color);
  padding: 10%;
  grid-column: 7/13;
  font-size: 1.5em;
  margin-top: 5%;
} 
.right-description h2 {
  text-align: center;
  margin-top: -50px;
  font-size: 2em;
}

 
/* mobile screens (max-width: 700px) */
@media (max-width: 700px) {
  body {
    font-size: 3vw;
  }
  
  #left-nav {
    grid-column: 1/13;
    justify-items: center;
    font-size: 1.2em;
  }
  .left-nav li {
    padding: 3%;
  }

  .main-content {
    grid-column: 1/13;
  }

  #right-description {
    grid-column: 1/13;
  }

  .hamburger {
    display: block;
    background: none;
    border: none;
    font-size: 1.3em;
    padding: 5% 2%;
    cursor: pointer;
    color: var(--foreground);
    text-align: center;
    width: 100%;
  }
  .hero {
    justify-self: center;
  }

  .menu {
    display: none;
    flex-direction: column;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
  }
   
  @media (max-width: 700px) {
    
  footer.p {
    
    background: blue;
    
    padding: '10px',
  }

}
}