@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #FFF3E6;
        --foreground: #525C39;
        --accent1-color: #F1D5BD;
        --accent2-color: #EAA037;
        --accent3-color: #000000;
    
        --heading-font: "Sancreek";
        --paragraph-font: "Epilogue", sans-serif;
    }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
